<header>
    <img class="logo" src="assets/icons/mybubllogo.png" alt="">
    <div class="phone">
        <img src="assets/icons/phone.png" alt="" srcset="">
        <a href="tel:+447470326016">+44 7470 326016</a>
    </div>
</header>
<main>
    <div class="bg-img"></div>
    <div class="container">
        <div class="journey-head">
            Get started with mybubl for <br>businesses
        </div>
        <div class="journey-content">
            Fill out the form below to contact our sales team for receiving marketing communications from <b>mybubl
                Tech</b> &
            Animations about news, events, promotions and monthly newsletters.<br> Or, give us a ring at +44 7470 326016
        </div>
        <div class="form-data" [formGroup]="registerForm">
            <section>
                <h5>Personal Information</h5>
                <div class="row">
                    <div class="field">
                        <label for="">First Name <span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.firstName.errors ? '1px solid red' : ''}"
                            formControlName="firstName">
                    </div>
                    <div class="field">
                        <label for="">Last Name <span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.lastName.errors ? '1px solid red' : ''}"
                            formControlName="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">Email Address <span>*</span></label>
                        <input type="email"
                            [ngStyle]="{'border': submitted && registerForm.controls.email.errors ? '1px solid red' : ''}"
                            formControlName="email">
                        <span class="error-message" *ngIf="submitted && registerForm.controls.email.errors?.pattern">
                            Email not valid.
                        </span>
                    </div>
                    <div class="field">
                        <label for="">Phone Number <span>*</span></label>
                        <input type="number"
                            [ngStyle]="{'border': submitted && registerForm.controls.phoneNumber.errors ? '1px solid red' : ''}"
                            formControlName="phoneNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">Business Name <span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.businessName.errors ? '1px solid red' : ''}"
                            formControlName="businessName">
                    </div>
                    <div class="field">
                        <label for="">Business City <span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.businessCity.errors ? '1px solid red' : ''}"
                            formControlName="businessCity">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">Company Name (in diffrent)</label>
                        <input type="text" formControlName="companyName">
                    </div>
                </div>
            </section>
            <section>
                <h5>Address Details</h5>
                <div class="row">
                    <div class="field">
                        <label for="">Door no<span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.doorNo.errors ? '1px solid red' : ''}"
                            formControlName="doorNo">
                    </div>
                    <div class="field">
                        <label for="">Street/ Area<span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.street.errors ? '1px solid red' : ''}"
                            formControlName="street">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">City<span>*</span></label>
                        <input type="text"
                            [ngStyle]="{'border': submitted && registerForm.controls.city.errors ? '1px solid red' : ''}"
                            formControlName="city">
                    </div>
                    <div class="field">
                        <label for="">Zip/ Postal Code <span>*</span></label>
                        <input type="tel"
                            [ngStyle]="{'border': submitted && registerForm.controls.pinCode.errors ? '1px solid red' : ''}"
                            formControlName="pinCode">
                    </div>
                </div>
            </section>
            <section>
                <h5>Options</h5>
                <div class="row-more">
                    <div class="field-checkbox" *ngFor="let optn of optionList;let i = index">
                        <input type="checkbox" [(ngModel)]="isChecked[i]" [ngModelOptions]="{standalone: true}" (change)="onSelectOption($event, optn, i)" name="" id="">
                        <label for="">{{optn.name}}</label>
                    </div>
                </div>
            </section>
            <section formArrayName="privateArea">
                <div class="row-head">
                    <h5>Private Area </h5>
                </div>
                <div class="row row-area" *ngFor="let areas of privateAreas.controls; let i=index">
                    <ng-container [formGroupName]="i">
                        <div class="field">
                            <label for="">Area Name<span>*</span></label>
                            <input type="text"
                                [ngStyle]="{'border': submitted && registerForm.controls.privateArea['controls'][i].controls.areaName.errors ? '1px solid red' : ''}"
                                formControlName="areaName">
                        </div>
                        <div class="field">
                            <label for="">Number of room<span>*</span></label>
                            <input type="number"
                                [ngStyle]="{'border': submitted && registerForm.controls.privateArea['controls'][i].controls.numberOfRoom.errors ? '1px solid red' : ''}"
                                formControlName="numberOfRoom">
                        </div>
                        <div class="field">
                            <label for="">Number of Seats<span>*</span></label>
                            <input type="number" class="custom-input"
                                [ngStyle]="{'border': submitted && registerForm.controls.privateArea['controls'][i].controls.numberOfSeats.errors ? '1px solid red' : ''}"
                                formControlName="numberOfSeats">
                            <i class="fa fa-plus-circle add" *ngIf="i == 0" (click)="addPrivateAreas()"></i>
                            <i class="fa fa-times-circle delete" *ngIf="i > 0" (click)="removePrivateAreas(i)"></i>
                        </div>
                    </ng-container>
                </div>
            </section>
            <section>
                <div class="row-head">
                    <h5>Minimum Spend</h5>
                </div>
                <div class="row row-area">
                    <div class="field">
                        <label for="">Min Spend per hr. Off peak<span>*</span></label>
                        <input type="number"
                            [ngStyle]="{'border': submitted && registerForm.controls.offpeak.errors ? '1px solid red' : ''}"
                            formControlName="offpeak">
                    </div>
                    <div class="field">
                        <label for="">Min Spend per hr. Peak<span>*</span></label>
                        <input type="number"
                            [ngStyle]="{'border': submitted && registerForm.controls.peak.errors ? '1px solid red' : ''}"
                            formControlName="peak">
                    </div>
                    <div class="field">
                        <label for="">Minimum spend per hr during xmas<span>*</span></label>
                        <input type="number"
                            [ngStyle]="{'border': submitted && registerForm.controls.xmas.errors ? '1px solid red' : ''}"
                            formControlName="xmas">
                    </div>
                </div>
            </section>
            <section>
                <h5>Remarks </h5>
                <div class="field">
                    <input class="w-100-text" formControlName="remarks" type="text">
                </div>
            </section>

            <section class="center">
                <button (click)="onSubmit()">Submit</button>

            </section>

        </div>
    </div>
</main>
<footer>
    <div class="story">
        <p>
            We’re happy to help. Contact us at
        </p>
        <p class="mt-10">
            No 24 Horsguards Drive <br>
            Maidenhead, Berkshire, SL61XL <br>
            United kingdom <br>
        </p>
    </div>
    <div class="story align-center">
        <img src="assets/icons/footer logo real.png" alt="">
        <div class="copy mt-10 ">© 2020 mybubl </div>
    </div>
    <div class="story t-a-r">
        <p>
            "You are the 2023rd business signing up <br>
            here with us"
        </p>
        <div class="ply mt-10 ">
            <a href="http://google.com">Privacy Policy</a>
            <a href="http://google.com">Terms of Us</a>
        </div>
    </div>

</footer>