<header>
    <img class="logo" src="assets/icons/mybubllogo.png" alt="">
    <div class="phone">
        <img src="assets/icons/phone.png" alt="" srcset="">
        <a href="tel:+447470326016">+44 7470 326016</a>
    </div>
</header>
<main>
    <div class="bg-img"></div>
    <div class="container">
        <div class="journey-head">
            Get started with mybubl for <br>businesses
        </div>
        <div class="journey-content">
            Fill out the form below to contact our sales team for receiving marketing communications from <b>mybubl
                Tech</b> &
            Animations about news, events, promotions and monthly newsletters.<br> Or, give us a ring at +44 7470 326016
        </div>
        <div class="form-data">
            <section>
                <h5>Personal Information</h5>
                <div class="row">
                    <div class="field">
                        <label for="">First Name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">Last Name <span>*</span></label>
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">Email Address <span>*</span></label>
                        <input type="email">
                    </div>
                    <div class="field">
                        <label for="">Phone Number <span>*</span></label>
                        <input type="tel">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">Business Name <span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">Business City <span>*</span></label>
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">Company Name (in diffrent)</label>
                        <input type="text">
                    </div>
                </div>
            </section>
            <section>
                <h5>Address Details</h5>
                <div class="row">
                    <div class="field">
                        <label for="">Door no<span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">Street/ Area<span>*</span></label>
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label for="">City<span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">Zip/ Postal Code <span>*</span></label>
                        <input type="tel">
                    </div>
                </div>
            </section>
            <section>
                <h5>Options</h5>
                <div class="row-more">
                    <div class="field-checkbox">
                        <input type="checkbox" name="" id="">
                        <label for="">Wifi</label>
                    </div>
                    <div class="field-checkbox">
                        <input type="checkbox" name="" id="">
                        <label for="">Free Car parking </label>
                    </div>
                    <div class="field-checkbox">
                        <input type="checkbox" name="" id="">
                        <label for="">Projector</label>
                    </div>
                    <div class="field-checkbox">
                        <input type="checkbox" name="" id="">
                        <label for="">TV</label>
                    </div>
                    <div class="field-checkbox">
                        <input type="checkbox" name="" id="">
                        <label for="">Beverages</label>
                    </div>
                </div>
            </section>
            <section>
                <h5>Private Area </h5>
                <div class="row row-area">
                    <div class="field">
                        <label for="">Area Name<span>*</span></label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">Number of room<span>*</span></label>
                        <input type="number">
                    </div>
                    <div class="field">
                        <label for="">Number of Seats<span>*</span></label>
                        <input type="number">
                    </div>
                    <div class="field">
                        <button class="add">Add</button>
                    </div>

                </div>
            </section>
            <section>
                <h5>Remarks </h5>
                <div class="field">
                    <input class="w-100-text" type="text">
                </div>
            </section>

            <section class="center">
                <button>Submit</button>

            </section>

        </div>
    </div>
</main>
<footer>
    <div class="story">
        <p>
            We’re happy to help. Contact us at
        </p>
        <p class="mt-10">
            No 24 Horsguards Drive <br>
            Maidenhead, Berkshire, SL61XL <br>
            United kingdom <br>
        </p>
    </div>
    <div class="story align-center">
        <img src="assets/icons/footer logo real.png" alt="">
        <div class="copy mt-10 ">© 2020 mybubl </div>
    </div>
    <div class="story t-a-r">
        <p>
            "You are the 2023rd business signing up <br>
            here with us"
        </p>
        <div class="ply mt-10 ">
            <a href="http://google.com">Privacy Policy</a>
            <a href="http://google.com">Terms of Us</a>
        </div>
    </div>

</footer>